In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/DontGetKicked/training.csv
/kaggle/input/DontGetKicked/training.zip
/kaggle/input/DontGetKicked/example_entry.csv
/kaggle/input/DontGetKicked/Carvana_Data_Dictionary.txt
/kaggle/input/DontGetKicked/test.zip
/kaggle/input/DontGetKicked/test.csv

In [2]:
train_data=pd.read_csv('/kaggle/input/DontGetKicked/training.csv')
train_data.head()

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [3]:
test_data=pd.read_csv('/kaggle/input/DontGetKicked/test.csv')
test_data.head()

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,73015,12/2/2009,ADESA,2005,4,PONTIAC,GRAND PRIX,Bas,4D SEDAN,SILVER,...,8557.0,9752.0,NaN,NaN,18881,30212,GA,6500.0,0,2152
1,73016,12/2/2009,ADESA,2005,4,CHEVROLET,MALIBU V6,LS,4D SEDAN LS,SILVER,...,7562.0,9296.0,NaN,NaN,18111,30212,GA,6300.0,0,1118
2,73017,12/2/2009,ADESA,2006,3,DODGE,DURANGO 2WD V8,Adv,4D SUV 4.7L ADVENTURER,SILVER,...,15340.0,16512.0,NaN,NaN,18111,30212,GA,9700.0,0,1215
3,73018,12/2/2009,ADESA,2002,7,SATURN,L SERIES,L20,4D SEDAN L200,GOLD,...,5725.0,6398.0,NaN,NaN,18881,30212,GA,4150.0,0,1933
4,73019,12/2/2009,ADESA,2007,2,HYUNDAI,ACCENT,GS,2D COUPE GS,BLUE,...,5914.0,7350.0,NaN,NaN,18111,30212,GA,4100.0,0,920

In [4]:
print("Length of train data "+str(len(train_data)))
print("Length of test data "+str(len(test_data)))

Length of train data 72983
Length of test data 48707

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   RefId                              72983 non-null  int64
 1   IsBadBuy                           72983 non-null  int64
 2   PurchDate                          72983 non-null  object
 3   Auction                            72983 non-null  object
 4   VehYear                            72983 non-null  int64
 5   VehicleAge                         72983 non-null  int64
 6   Make                               72983 non-null  object
 7   Model                              72983 non-null  object
 8   Trim                               70623 non-null  object
 9   SubModel                           72975 non-null  object
 10  Color                              72975 non-null  object
 11  Transmission                       72974 non-null  object
 12  WheelTypeID                        69814 non-null  float64
 13  WheelType                          69809 non-null  object
 14  VehOdo                             72983 non-null  int64
 15  Nationality                        72978 non-null  object
 16  Size                               72978 non-null  object
 17  TopThreeAmericanName               72978 non-null  object
 18  MMRAcquisitionAuctionAveragePrice  72965 non-null  float64
 19  MMRAcquisitionAuctionCleanPrice    72965 non-null  float64
 20  MMRAcquisitionRetailAveragePrice   72965 non-null  float64
 21  MMRAcquisitonRetailCleanPrice      72965 non-null  float64
 22  MMRCurrentAuctionAveragePrice      72668 non-null  float64
 23  MMRCurrentAuctionCleanPrice        72668 non-null  float64
 24  MMRCurrentRetailAveragePrice       72668 non-null  float64
 25  MMRCurrentRetailCleanPrice         72668 non-null  float64
 26  PRIMEUNIT                          3419 non-null   object
 27  AUCGUART                           3419 non-null   object
 28  BYRNO                              72983 non-null  int64
 29  VNZIP1                             72983 non-null  int64
 30  VNST                               72983 non-null  object
 31  VehBCost                           72983 non-null  float64
 32  IsOnlineSale                       72983 non-null  int64
 33  WarrantyCost                       72983 non-null  int64
dtypes: float64(10), int64(9), object(15)
memory usage: 18.9+ MB

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48707 entries, 0 to 48706
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   RefId                              48707 non-null  int64
 1   PurchDate                          48707 non-null  object
 2   Auction                            48707 non-null  object
 3   VehYear                            48707 non-null  int64
 4   VehicleAge                         48707 non-null  int64
 5   Make                               48707 non-null  object
 6   Model                              48707 non-null  object
 7   Trim                               47157 non-null  object
 8   SubModel                           48702 non-null  object
 9   Color                              48703 non-null  object
 10  Transmission                       48704 non-null  object
 11  WheelTypeID                        46519 non-null  float64
 12  WheelType                          46519 non-null  object
 13  VehOdo                             48707 non-null  int64
 14  Nationality                        48700 non-null  object
 15  Size                               48700 non-null  object
 16  TopThreeAmericanName               48700 non-null  object
 17  MMRAcquisitionAuctionAveragePrice  48697 non-null  float64
 18  MMRAcquisitionAuctionCleanPrice    48697 non-null  float64
 19  MMRAcquisitionRetailAveragePrice   48697 non-null  float64
 20  MMRAcquisitonRetailCleanPrice      48697 non-null  float64
 21  MMRCurrentAuctionAveragePrice      48564 non-null  float64
 22  MMRCurrentAuctionCleanPrice        48564 non-null  float64
 23  MMRCurrentRetailAveragePrice       48564 non-null  float64
 24  MMRCurrentRetailCleanPrice         48564 non-null  float64
 25  PRIMEUNIT                          2516 non-null   object
 26  AUCGUART                           2516 non-null   object
 27  BYRNO                              48707 non-null  int64
 28  VNZIP1                             48707 non-null  int64
 29  VNST                               48707 non-null  object
 30  VehBCost                           48707 non-null  float64
 31  IsOnlineSale                       48707 non-null  int64
 32  WarrantyCost                       48707 non-null  int64
dtypes: float64(10), int64(8), object(15)
memory usage: 12.3+ MB

In [7]:
train_data.isnull().sum()

RefId                                    0
IsBadBuy                                 0
PurchDate                                0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Make                                     0
Model                                    0
Trim                                  2360
SubModel                                 8
Color                                    8
Transmission                             9
WheelTypeID                           3169
WheelType                             3174
VehOdo                                   0
Nationality                              5
Size                                     5
TopThreeAmericanName                     5
MMRAcquisitionAuctionAveragePrice       18
MMRAcquisitionAuctionCleanPrice         18
MMRAcquisitionRetailAveragePrice        18
MMRAcquisitonRetailCleanPrice           18
MMRCurrentAuctionAveragePrice          315
MMRCurrentAuctionCleanPrice            315
MMRCurrentRetailAveragePrice           315
MMRCurrentRetailCleanPrice             315
PRIMEUNIT                            69564
AUCGUART                             69564
BYRNO                                    0
VNZIP1                                   0
VNST                                     0
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

In [8]:
test_data.isnull().sum()

RefId                                    0
PurchDate                                0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Make                                     0
Model                                    0
Trim                                  1550
SubModel                                 5
Color                                    4
Transmission                             3
WheelTypeID                           2188
WheelType                             2188
VehOdo                                   0
Nationality                              7
Size                                     7
TopThreeAmericanName                     7
MMRAcquisitionAuctionAveragePrice       10
MMRAcquisitionAuctionCleanPrice         10
MMRAcquisitionRetailAveragePrice        10
MMRAcquisitonRetailCleanPrice           10
MMRCurrentAuctionAveragePrice          143
MMRCurrentAuctionCleanPrice            143
MMRCurrentRetailAveragePrice           143
MMRCurrentRetailCleanPrice             143
PRIMEUNIT                            46191
AUCGUART                             46191
BYRNO                                    0
VNZIP1                                   0
VNST                                     0
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

In [9]:
train_data['IsBadBuy'].value_counts()

0    64007
1     8976
Name: IsBadBuy, dtype: int64

In [10]:
train_data['Model'].value_counts()

PT CRUISER              2329
IMPALA                  1990
TAURUS                  1425
CALIBER                 1375
CARAVAN GRAND FWD V6    1289
                        ...
BRAVADA 2WD V6             1
MALIBU HYBRID              1
COMPASS 2WD 4C 2.0L        1
I-370 PICKUP 2WD 5C        1
INTREPID 3.5L V6 EFI       1
Name: Model, Length: 1063, dtype: int64

In [11]:
train_data.drop('Model',axis=1,inplace=True)
test_data.drop("Model",axis=1,inplace=True)

In [12]:
train_data['Trim'].value_counts()

Bas    13950
LS     10174
SE      9348
SXT     3825
LT      3540
       ...
LL         1
L 3        1
Ult        1
JLS        1
Har        1
Name: Trim, Length: 134, dtype: int64

In [13]:
train_data.drop('Trim',inplace=True,axis=1)
test_data.drop('Trim',inplace=True,axis=1)

In [14]:
train_data['SubModel'].value_counts()

4D SEDAN                       15236
4D SEDAN LS                     4718
4D SEDAN SE                     3859
4D WAGON                        2230
MINIVAN 3.3L                    1258
                               ...
4D SPORT UTILITY JLX               1
4D SPORT UTILITY EX AUTO           1
EXT CAB 4D 5.9L LARAMIE SLT        1
2D HATCHBACK GT                    1
REG CAB 2.5L XLT                   1
Name: SubModel, Length: 863, dtype: int64

In [15]:
train_data.drop('SubModel',inplace=True,axis=1)
test_data.drop('SubModel',inplace=True,axis=1)

In [16]:
train_data['Color'].value_counts()

SILVER       14875
WHITE        12123
BLUE         10347
GREY          7887
BLACK         7627
RED           6257
GOLD          5231
GREEN         3194
MAROON        2046
BEIGE         1584
BROWN          436
ORANGE         415
PURPLE         373
YELLOW         244
OTHER          242
NOT AVAIL       94
Name: Color, dtype: int64

In [17]:
test_data['Color'].value_counts()

SILVER       10083
WHITE         8054
BLUE          6839
BLACK         5177
GREY          5077
RED           4166
GOLD          3401
GREEN         2318
MAROON        1308
BEIGE         1070
PURPLE         295
BROWN          278
ORANGE         238
YELLOW         181
OTHER          128
NOT AVAIL       89
PINK             1
Name: Color, dtype: int64

In [18]:
train_data['Color'].fillna(value='Color_Unknown',inplace=True)
test_data['Color'].fillna(value='Color_Unknown',inplace=True)

In [19]:
print("Number of null values in Color column "+str(train_data['Color'].isnull().sum()))
print("Number of null values in Color column "+str(test_data['Color'].isnull().sum()))

Number of null values in Color column 0
Number of null values in Color column 0

In [20]:
train_data['Transmission'].value_counts()

AUTO      70398
MANUAL     2575
Manual        1
Name: Transmission, dtype: int64

In [21]:
test_data['Transmission'].value_counts()

AUTO      47010
MANUAL     1694
Name: Transmission, dtype: int64

In [22]:
train_data[train_data['Transmission']=='Manual']

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Color,Transmission,WheelTypeID,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
33096,33118,0,12/9/2009,OTHER,2006,3,HYUNDAI,SILVER,Manual,1.0,...,8331.0,9199.0,NaN,NaN,18880,32750,FL,3800.0,0,569

In [23]:
train_data['Transmission'].replace("Manual","MANUAL",inplace=True)

In [24]:
train_data['Transmission'].value_counts()

AUTO      70398
MANUAL     2576
Name: Transmission, dtype: int64

In [25]:
train_data['Transmission'].fillna(value="Transmission_unk",inplace=True)
test_data['Transmission'].fillna(value="Transmission_unk",inplace=True)

In [26]:
train_data['WheelTypeID'].value_counts()

1.0    36050
2.0    33004
3.0      755
0.0        5
Name: WheelTypeID, dtype: int64

In [27]:
train_data.drop('WheelTypeID',inplace=True,axis=1)
test_data.drop('WheelTypeID',inplace=True,axis=1)

In [28]:
train_data['WheelType'].value_counts()

Alloy      36050
Covers     33004
Special      755
Name: WheelType, dtype: int64

In [29]:
test_data['WheelType'].value_counts()

Alloy      25443
Covers     20651
Special      425
Name: WheelType, dtype: int64

In [30]:
train_data['WheelType'].fillna(value='WheelType_unk',inplace=True)
test_data['WheelType'].fillna(value='WheelType_unk',inplace=True)

In [31]:
train_data['WheelType'].value_counts()

Alloy            36050
Covers           33004
WheelType_unk     3174
Special            755
Name: WheelType, dtype: int64

In [32]:
train_data['Nationality'].value_counts()

AMERICAN          61028
OTHER ASIAN        8033
TOP LINE ASIAN     3722
OTHER               195
Name: Nationality, dtype: int64

In [33]:
test_data['Nationality'].value_counts()

AMERICAN          40413
OTHER ASIAN        5838
TOP LINE ASIAN     2326
OTHER               123
Name: Nationality, dtype: int64

In [34]:
train_data['Nationality'].fillna(value='Nationality_unk',inplace=True)
test_data['Nationality'].fillna(value='Nationality_unk',inplace=True)

In [35]:
train_data['Size'].value_counts()

MEDIUM         30785
LARGE           8850
MEDIUM SUV      8090
COMPACT         7205
VAN             5854
LARGE TRUCK     3170
SMALL SUV       2276
SPECIALTY       1915
CROSSOVER       1759
LARGE SUV       1433
SMALL TRUCK      864
SPORTS           777
Name: Size, dtype: int64

In [36]:
test_data['Size'].value_counts()

MEDIUM         20361
LARGE           5711
MEDIUM SUV      5453
COMPACT         4881
VAN             4042
LARGE TRUCK     2069
SMALL SUV       1575
SPECIALTY       1446
CROSSOVER       1286
LARGE SUV        868
SPORTS           516
SMALL TRUCK      492
Name: Size, dtype: int64

In [37]:
train_data['Size'].fillna(value='Size_unk',inplace=True)
test_data['Size'].fillna(value="Size_unk",inplace=True)

In [38]:
train_data['TopThreeAmericanName'].value_counts()

GM          25314
CHRYSLER    23399
FORD        12315
OTHER       11950
Name: TopThreeAmericanName, dtype: int64

In [39]:
test_data['TopThreeAmericanName'].value_counts()

GM          16957
CHRYSLER    15329
OTHER        8287
FORD         8127
Name: TopThreeAmericanName, dtype: int64

In [40]:
train_data['TopThreeAmericanName'].fillna(value='Top_unk',inplace=True)
test_data['TopThreeAmericanName'].fillna(value='Top_unk',inplace=True)

In [41]:
train_data['PRIMEUNIT'].value_counts()

NO     3357
YES      62
Name: PRIMEUNIT, dtype: int64

In [42]:
test_data['PRIMEUNIT'].value_counts()

NO     2468
YES      48
Name: PRIMEUNIT, dtype: int64

In [43]:
train_data['PRIMEUNIT'].fillna(value="Prime_unk",inplace=True)
test_data['PRIMEUNIT'].fillna(value="Prime_unk",inplace=True)

In [44]:
train_data['AUCGUART'].replace("AGREEN","GREEN",inplace=True)
test_data['AUCGUART'].replace("ARED","RED",inplace=True)

In [45]:
train_data['AUCGUART'].fillna(value="AUC_unk",inplace=True)
test_data['AUCGUART'].fillna(value="AUC_unk",inplace=True)

In [46]:
train_data.drop(['MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice',
                'MMRAcquisitionRetailAveragePrice','MMRAcquisitonRetailCleanPrice',
                'MMRCurrentAuctionAveragePrice','MMRCurrentAuctionCleanPrice',
                'MMRCurrentRetailAveragePrice','MMRCurrentRetailCleanPrice'],
               inplace=True,axis=1)
test_data.drop(['MMRAcquisitionAuctionAveragePrice','MMRAcquisitionAuctionCleanPrice',
                'MMRAcquisitionRetailAveragePrice','MMRAcquisitonRetailCleanPrice',
                'MMRCurrentAuctionAveragePrice','MMRCurrentAuctionCleanPrice',
                'MMRCurrentRetailAveragePrice','MMRCurrentRetailCleanPrice'],
               inplace=True,axis=1)

In [47]:
train_data.drop('PurchDate',axis=1,inplace=True)
test_data.drop("PurchDate",axis=1,inplace=True)

In [48]:
train_data.shape

(72983, 21)

In [49]:
test_data.shape

(48707, 20)

In [50]:
train_data.dtypes

RefId                     int64
IsBadBuy                  int64
Auction                  object
VehYear                   int64
VehicleAge                int64
Make                     object
Color                    object
Transmission             object
WheelType                object
VehOdo                    int64
Nationality              object
Size                     object
TopThreeAmericanName     object
PRIMEUNIT                object
AUCGUART                 object
BYRNO                     int64
VNZIP1                    int64
VNST                     object
VehBCost                float64
IsOnlineSale              int64
WarrantyCost              int64
dtype: object

In [51]:
train_data.columns

Index(['RefId', 'IsBadBuy', 'Auction', 'VehYear', 'VehicleAge', 'Make',
       'Color', 'Transmission', 'WheelType', 'VehOdo', 'Nationality', 'Size',
       'TopThreeAmericanName', 'PRIMEUNIT', 'AUCGUART', 'BYRNO', 'VNZIP1',
       'VNST', 'VehBCost', 'IsOnlineSale', 'WarrantyCost'],
      dtype='object')

In [52]:
train_data.drop(['RefId','IsBadBuy'],axis=1).dtypes!='object'

Auction                 False
VehYear                  True
VehicleAge               True
Make                    False
Color                   False
Transmission            False
WheelType               False
VehOdo                   True
Nationality             False
Size                    False
TopThreeAmericanName    False
PRIMEUNIT               False
AUCGUART                False
BYRNO                    True
VNZIP1                   True
VNST                    False
VehBCost                 True
IsOnlineSale             True
WarrantyCost             True
dtype: bool

In [53]:
not_categorical=train_data.drop(['RefId','IsBadBuy'],axis=1).columns[train_data.drop(['RefId','IsBadBuy'],axis=1).dtypes!='object']

In [54]:
for i in not_categorical:
    maximum=np.max(train_data[i])
    train_data[i]=train_data[i]/maximum
    maximum_test=np.max(test_data[i])
    test_data[i]=test_data[i]/maximum_test

In [55]:
train_data[not_categorical].head()

,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
0,0.998010,0.333333,0.769515,0.220256,0.338819,0.156150,0.0,0.148440
1,0.997015,0.555556,0.808809,0.196850,0.338819,0.167147,0.0,0.140437
2,0.997512,0.444444,0.637823,0.196850,0.338819,0.107766,0.0,0.185249
3,0.997015,0.555556,0.567047,0.196850,0.338819,0.090171,0.0,0.084022
4,0.997512,0.444444,0.599454,0.196850,0.338819,0.087972,0.0,0.136036

In [56]:
test_data[not_categorical].head()

,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
0,0.997512,0.444444,0.743793,0.189205,0.308085,0.114135,0.0,0.287010
1,0.997512,0.444444,0.539029,0.181489,0.308085,0.110623,0.0,0.149106
2,0.998010,0.333333,0.603584,0.181489,0.308085,0.170325,0.0,0.162043
3,0.996020,0.777778,0.765677,0.189205,0.308085,0.072871,0.0,0.257802
4,0.998507,0.222222,0.639730,0.181489,0.308085,0.071993,0.0,0.122699

In [57]:
categorical=train_data.drop(['RefId','IsBadBuy'],axis=1).columns[train_data.drop(['RefId','IsBadBuy'],axis=1).dtypes=='object']

In [58]:
categorical

Index(['Auction', 'Make', 'Color', 'Transmission', 'WheelType', 'Nationality',
       'Size', 'TopThreeAmericanName', 'PRIMEUNIT', 'AUCGUART', 'VNST'],
      dtype='object')

In [59]:
train_data[categorical[0]]

0        ADESA
1        ADESA
2        ADESA
3        ADESA
4        ADESA
         ...
72978    ADESA
72979    ADESA
72980    ADESA
72981    ADESA
72982    ADESA
Name: Auction, Length: 72983, dtype: object

In [60]:
pd.get_dummies(train_data[categorical[0]])

       ADESA  MANHEIM  OTHER
0          1        0      0
1          1        0      0
2          1        0      0
3          1        0      0
4          1        0      0
...      ...      ...    ...
72978      1        0      0
72979      1        0      0
72980      1        0      0
72981      1        0      0
72982      1        0      0

[72983 rows x 3 columns]

In [61]:
for i in categorical:
    dummies=pd.get_dummies(train_data[i])
    dummies.columns=str(i)+'_'+dummies.columns
    train_data=pd.concat([train_data,dummies],axis=1)
    train_data.drop(i,inplace=True,axis=1)
    dummies=pd.get_dummies(test_data[i])
    dummies.columns=str(i)+'_'+dummies.columns
    test_data=pd.concat([test_data,dummies],axis=1)
    test_data.drop(i,inplace=True,axis=1)

In [62]:
train_data.head()

,RefId,IsBadBuy,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,...,VNST_OK,VNST_OR,VNST_PA,VNST_SC,VNST_TN,VNST_TX,VNST_UT,VNST_VA,VNST_WA,VNST_WV
0,1,0,0.998010,0.333333,0.769515,0.220256,0.338819,0.156150,0.0,0.148440,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0.997015,0.555556,0.808809,0.196850,0.338819,0.167147,0.0,0.140437,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0.997512,0.444444,0.637823,0.196850,0.338819,0.107766,0.0,0.185249,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0.997015,0.555556,0.567047,0.196850,0.338819,0.090171,0.0,0.084022,...,0,0,0,0,0,0,0,0,0,0
4,5,0,0.997512,0.444444,0.599454,0.196850,0.338819,0.087972,0.0,0.136036,...,0,0,0,0,0,0,0,0,0,0

In [63]:
train_data.shape

(72983, 136)

In [64]:
test_data.shape

(48707, 128)

In [65]:
for i in train_data.drop('IsBadBuy',axis=1).columns:
    if i not in test_data.columns:
        test_data[i]=np.zeros(len(test_data))

In [66]:
for i in test_data.columns:
    if i not in train_data.columns:
        train_data[i]=np.zeros(len(train_data))

In [67]:
train_data.shape

(72983, 138)

In [68]:
test_data.shape

(48707, 137)

In [69]:
train_data.head()

,RefId,IsBadBuy,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,...,VNST_PA,VNST_SC,VNST_TN,VNST_TX,VNST_UT,VNST_VA,VNST_WA,VNST_WV,Color_PINK,VNST_WI
0,1,0,0.998010,0.333333,0.769515,0.220256,0.338819,0.156150,0.0,0.148440,...,0,0,0,0,0,0,0,0,0.0,0.0
1,2,0,0.997015,0.555556,0.808809,0.196850,0.338819,0.167147,0.0,0.140437,...,0,0,0,0,0,0,0,0,0.0,0.0
2,3,0,0.997512,0.444444,0.637823,0.196850,0.338819,0.107766,0.0,0.185249,...,0,0,0,0,0,0,0,0,0.0,0.0
3,4,0,0.997015,0.555556,0.567047,0.196850,0.338819,0.090171,0.0,0.084022,...,0,0,0,0,0,0,0,0,0.0,0.0
4,5,0,0.997512,0.444444,0.599454,0.196850,0.338819,0.087972,0.0,0.136036,...,0,0,0,0,0,0,0,0,0.0,0.0

In [70]:
test_data.head()

,RefId,VehYear,VehicleAge,VehOdo,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost,Auction_ADESA,...,VNST_WV,Make_HUMMER,Make_PLYMOUTH,Make_TOYOTA SCION,VNST_IA,VNST_ID,VNST_MA,VNST_MD,VNST_MI,VNST_NE
0,73015,0.997512,0.444444,0.743793,0.189205,0.308085,0.114135,0.0,0.287010,1,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,73016,0.997512,0.444444,0.539029,0.181489,0.308085,0.110623,0.0,0.149106,1,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,73017,0.998010,0.333333,0.603584,0.181489,0.308085,0.170325,0.0,0.162043,1,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,73018,0.996020,0.777778,0.765677,0.189205,0.308085,0.072871,0.0,0.257802,1,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,73019,0.998507,0.222222,0.639730,0.181489,0.308085,0.071993,0.0,0.122699,1,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
test_data=test_data[train_data.drop("IsBadBuy",axis=1).columns]

In [72]:
print(train_data.shape)
print(test_data.shape)

(72983, 138)
(48707, 137)

In [73]:
train_data.columns

Index(['RefId', 'IsBadBuy', 'VehYear', 'VehicleAge', 'VehOdo', 'BYRNO',
       'VNZIP1', 'VehBCost', 'IsOnlineSale', 'WarrantyCost',
       ...
       'VNST_PA', 'VNST_SC', 'VNST_TN', 'VNST_TX', 'VNST_UT', 'VNST_VA',
       'VNST_WA', 'VNST_WV', 'Color_PINK', 'VNST_WI'],
      dtype='object', length=138)

In [74]:
test_data.columns

Index(['RefId', 'VehYear', 'VehicleAge', 'VehOdo', 'BYRNO', 'VNZIP1',
       'VehBCost', 'IsOnlineSale', 'WarrantyCost', 'Auction_ADESA',
       ...
       'VNST_PA', 'VNST_SC', 'VNST_TN', 'VNST_TX', 'VNST_UT', 'VNST_VA',
       'VNST_WA', 'VNST_WV', 'Color_PINK', 'VNST_WI'],
      dtype='object', length=137)

In [75]:
from sklearn.model_selection import train_test_split
X=train_data.drop(['RefId','IsBadBuy'],axis=1)
y=train_data['IsBadBuy']

In [76]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

In [77]:
print(X_train.shape,y_train.shape)
print(X_test.shape,y_test.shape)

(54737, 136) (54737,)
(18246, 136) (18246,)

In [78]:
from sklearn.neighbors import KNeighborsClassifier

In [79]:
KNN=KNeighborsClassifier(n_neighbors=11)
KNN.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

In [80]:
KNN.score(X_test,y_test)

0.8902773210566699

In [81]:
predict=KNN.predict(test_data.drop('RefId',axis=1))

In [82]:
Submission=pd.DataFrame(data=predict,columns=['IsBadBuy'])
Submission.head()

   IsBadBuy
0         0
1         0
2         0
3         0
4         0

In [83]:
Submission['RefId']=test_data['RefId']
Submission.set_index('RefId',inplace=True)

In [84]:
Submission.head()
Submission.to_csv('Submission.csv')